@charset "UTF-8";
body {
  background-color: #c4c4c4;
}
.card {
  background-color: #fff;
  padding: 10px;
}

.card__title {
  color: #282828;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}

.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 10px;
}

header {
  padding: 10px 0;
  background-color: #fff;
}
footer {
  padding: 10px 0;
  background-color: #fff;
}
